<p>
    <mat-toolbar color="primary">
      <span><a class="navbar-brand" routerLink="/">My Todo's</a></span>
      <span *ngIf="loggedIn"><a mat-button routerLink="/create" routerLinkActive="active">Create Todo</a></span>
      <span *ngIf="!loggedIn"><a mat-button routerLink="/login" routerLinkActive="active"><i class="fa fa-user"></i> Login</a></span>
      <button class="ml-3" *ngIf="userDetails && loggedIn" mat-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
        {{userDetails.name}} &nbsp;<i class="fa fa-caret-down"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="onLogout()" *ngIf="loggedIn" mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>
</p>