<div class="mt-5">
    <mat-spinner *ngIf="isLoading" class="m-auto" diameter="30"></mat-spinner>
    <mat-card *ngIf="!isLoading">
        <mat-card-header>
          <mat-card-title>Create your todo</mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-100 text-center">
            <div [formGroup]="todoForm">
                <mat-form-field class="w-75">
                    <mat-label>Todo Title</mat-label>
                    <input formControlName="title" matInput name="title">
                    <mat-error *ngIf="title.errors && title.touched">
                        <div *ngIf="title.errors?.required">
                            This field cannot be left blank
                        </div>
                        <div *ngIf="title.errors?.minlength">
                            Title should contain atleast {{title.errors?.minlength.requiredLength}} characters
                        </div>
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field class="w-75">
                    <mat-label>Todo Content</mat-label>
                    <textarea formControlName="content" rows="6" cols="10" name="content" matInput></textarea>
                    <mat-error *ngIf="content.invalid">
                        This field cannot be left blank
                    </mat-error>
                </mat-form-field>
                <br><br>
                <div class="w-75 m-auto text-left">
                    <button (click)="filePicker.click()" mat-stroked-button color="primary">Upload Image</button>
                    <input (change)="fileChangeEvent($event)" type="file" accept=".jpeg, .png, .jpg" #filePicker>
                    <p *ngIf="todoData?.imagePath && !imagePreview" class="mt-2 mb-0 text-muted text-break">{{ todoData.imagePath }}</p>
                </div>
                <br>
                <div *ngIf="todoData?.imagePath && !imagePreview" class="w-75 m-auto text-left image-preview">
                    <img [src]="todoData.imagePath" [alt]="title.value">
                </div>
                <div *ngIf="imagePreview !== '' && imagePreview" class="w-75 m-auto text-left image-preview">
                    <img [src]="imagePreview" [alt]="title.value">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button *ngIf="!todoId" mat-raised-button (click)="saveTodo(todoForm)" type="button">Add</button>
          <button *ngIf="todoId" mat-raised-button (click)="saveTodo(todoForm)" type="button">Update</button>
        </mat-card-actions>
    </mat-card>
</div>
